<div style="height: 100vh;" class="debitspace-container">

    <div>
        <!-- Topbar -->
        <nav class="content navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="debitspace-nav-title">
                Workspaces
            </div>
            <div class="debitspace-nav-buttons">
                <span class="ds-nav-btn-container"><button class="btn debitspace-nav-button"><i class="fa fa-plus"></i><span class="ds-nav-btn-text">Create Workspace</span></button></span>
                <span class="ds-nav-btn-container"><button class="btn debitspace-nav-button"><i class="fa fa-undo"></i></button></span>
                <span class="ds-nav-btn-container"><button class="btn debitspace-nav-button"><i class="fa fa-repeat"></i></button></span>
                <span class="ds-nav-btn-container"><button class="btn debitspace-nav-button"><i class="fa fa-home"></i></button></span>
                <span class="ds-nav-btn-container"><button class="btn debitspace-nav-button"><i class="fa fa-home"></i></button></span>    
            </div>
        </nav>
        <!-- End of Topbar -->
    </div>

    <div class="debitspace-full-sheet">
        <div class="debitspace-sheet-container">
            <div class="debitspace-sheet-inner">

                <div class="wor-container">

                    <div class="wor-box" *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10,11,12,13]">
                        <div class="wor-workspace">
                        </div>
                    </div>

                </div>

            </div>
        </div>
    </div>

</div>