<div style="height: 100vh;" class="ds-container">

    <div>
        <!-- Topbar -->
        <nav class="content navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
            <div class="ds-nav-title">
                Import
            </div>
            <div class="ds-nav-buttons">
                <span class="ds-nav-btn-container"><button class="btn ds-nav-btn"><i class="fa fa-home"></i></button></span>
                <span class="ds-nav-btn-container"><button class="btn ds-nav-btn"><i class="fa fa-undo"></i></button></span>
                <span class="ds-nav-btn-container"><button class="btn ds-nav-btn"><i class="fa fa-repeat"></i></button></span>
            </div>
        </nav>
        <!-- End of Topbar -->
    </div>

    <div class="ds-full-sheet">
        <div class="ds-sheet-container">
            <div class="ds-sheet-inner">
                
                <p>import works!</p>

            </div>
        </div>
    </div>

</div>