<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/dashboard">
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-code"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3">
      <div class="col">
        <div>Debitspace</div>
      </div>
    </div>
  </a>

  <!-- When no section title is wanted use this as divider: -->
  <!-- <hr class="sidebar-divider my-0"> -->

  <!-- Divider -->
  <hr class="my-0">
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Debitspace
  </div>

  <!-- Nav Item - Dashboard -->
  <li [className]="activeLink == '/dashboard' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/dashboard">
      <i class="fa fa-fw fa-tachometer"></i>
      <span>Dashboard</span></a>
  </li>

  <!-- Nav Item - Workspaces -->
  <li [className]="activeLink == '/workspaces' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/workspaces">
      <i class="fa fa-fw fa-list-alt"></i>
      <span>Workspaces</span></a>
  </li>

  <!-- Nav Item - Language -->
  <li [className]="activeLink == '/language' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/language">
      <i class="fa fa-fw fa-globe"></i>
      <span>Language</span></a>
  </li>

  <!-- Nav Item - Settings -->
  <li [className]="activeLink == '/settings' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/settings">
      <i class="fa fa-fw fa-gear"></i>
      <span>Settings</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Import/Export
  </div>

  <!-- Import/Export / Export to JSON -->
  <li [className]="activeLink == '/export' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/export">
      <i class="fa fa-fw fa-arrow-up"></i>
      <span>Export to JSON</span></a>
  </li>

  <!-- Import/Export / Import from JSON -->
  <li [className]="activeLink == '/import' ? 'nav-item active' : 'nav-item'">
    <a class="nav-link" routerLink="/import">
      <i class="fa fa-fw fa-arrow-down"></i>
      <span>Import from JSON</span></a>
  </li>

  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Development
  </div>

  <!-- Development / Clear Database -->
  <li class="nav-item">
    <a class="nav-link">
      <i class="fa fa-fw fa-trash"></i>
      <span>Clear Database</span></a>
  </li>

</ul>
<!-- End of Sidebar -->