<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

  <!-- Sidebar - Brand -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
    <div class="sidebar-brand-icon rotate-n-15">
      <!-- <i class="fas fa-code"></i> -->
    </div>
    <div class="sidebar-brand-text mx-3">
      <div class="col">
        <div>Debitspace</div>
      </div>
    </div>
  </a>

  <!-- When no section title is wanted use this as divider: -->
  <!-- <hr class="sidebar-divider my-0"> -->

  <!-- Divider -->
  <hr class="my-0">
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Debitspace
  </div>

  <!-- Nav Item - Workspaces -->
  <li class="nav-item active">
    <a class="nav-link" routerLink="/">
      <i class="fa fa-fw fa-home"></i>
      <span>Workspaces</span></a>
  </li>

  <!-- Nav Item - Settings -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/">
      <i class="fa fa-fw fa-gear"></i>
      <span>Settings</span></a>
  </li>


  <!-- Divider -->
  <hr class="sidebar-divider">

  <!-- Heading -->
  <div class="sidebar-heading">
    Import/Export
  </div>

  <!-- Import/Export / Export to JSON -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/gallery/inf/floating-bit">
      <i class="fa fa-fw fa-arrow-up"></i>
      <span>Export to JSON</span></a>
  </li>

  <!-- Import/Export / Import from JSON -->
  <li class="nav-item">
    <a class="nav-link" routerLink="/gallery/inf/floating-bit">
      <i class="fa fa-fw fa-arrow-down"></i>
      <span>Import from JSON</span></a>
  </li>

</ul>
<!-- End of Sidebar -->