<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

    <!-- Sidebar - Brand -->
    <a class="sidebar-brand d-flex align-items-center justify-content-center" routerLink="/">
      <div class="sidebar-brand-icon rotate-n-15">
        <!-- <i class="fas fa-code"></i> -->
      </div>
      <div class="sidebar-brand-text mx-3">
        <div class="col">
          <div>Debitspace</div>
        </div>
      </div>
    </a>

    <!-- Divider -->
    <hr class="sidebar-divider my-0">

    <!-- Nav Item - Dashboard -->
    <li class="nav-item active">
      <a class="nav-link" routerLink="/">
        <i class="fas fa-fw fa-home"></i>
        <span>Workspaces</span></a>
    </li>


    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Informatics
    </div>

    <!-- Informatics / Floating Bit -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/gallery/inf/floating-bit">
        <i class="fas fa-fw fa-calculator"></i>
        <span>Floating Bit</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider">

    <!-- Heading -->
    <div class="sidebar-heading">
      Maths
    </div>

    <!-- Copy a li form Informatics to create a menu entry -->

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" routerLink="/gallery/maths/cramer">
        <i class="fas fa-fw fa-calculator"></i>
        <span>Cramer Rule</span></a>
    </li>

    <!-- Divider -->
    <hr class="sidebar-divider d-none d-md-block">

    <!-- Heading -->
    <div class="sidebar-heading">
      About
    </div>

    <!-- Copy a li form Informatics to create a menu entry -->

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="https://www.mysup.at/datenschutzerklaerung" target="_blank">
        <i class="fas fa-fw fa-calculator"></i>
        <span>Privacy Policy</span></a>
    </li>

    <!-- Nav Item - Tables -->
    <li class="nav-item">
      <a class="nav-link" href="https://www.mysup.at/impressum" target="_blank">
        <i class="fas fa-fw fa-calculator"></i>
        <span>Imprint</span></a>
    </li>

  </ul>
  <!-- End of Sidebar -->