/* You can add global styles to this file, and also import other style files */

.debitspace-container {
    display: flex;
    flex-direction: column;
}

.debitspace-full-sheet {
    flex-grow: 1;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.debitspace-sheet-container {
    position: absolute;
    height: 100%;
    width: 100%;
    padding-top: 0px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
}

.debitspace-sheet-inner {
    height: 100%;
    width: 100%;
}

.debitspace-nav-title {
    padding-left: 20px;
    color: #5a5c69;
    font-weight: 500;
    font-size: 1.50rem;
}

.debitspace-nav-buttons {
    padding-left: 3em;
}

.ds-nav-btn-container {
    padding-right: 10px;
}

.debitspace-nav-button {
    background-color: whitesmoke !important;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
}

.debitspace-nav-button:after {
    padding-right: 100px;
}

.ds-nav-btn-text {
    padding-left: 0.5em;
}

